h1,
p {
  font-family: Lato;
}

* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

body {
  /* backgr ound-color: blueviolet; */
}

.book-list {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* justify-content: center; */
  /* align-items: center; */
  grid-gap: 1rem;
  /* width: 80vw; */
  max-width: 1700px;
  margin: 3rem;
}

.books {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(243, 200, 200);
  padding: 1.2rem 1rem 1rem;
  border-radius: 10px;
  width: 300px;
}

h3 {
  margin: 0.12rem 0;
  font-size: 18px;
}

@media all and (max-width: 1200px) {
  .book-list {
    grid-template-columns: 1fr 1fr;
    /* width: 70vw; */
  }
}

@media all and (max-width: 750px) {
  .book-list {
    grid-template-columns: 1fr;
    /* width: 50vw; */
  }
}
